<?xml version="1.0" encoding="UTF-8"?>
<!--scan true,false-->
<!--scanPeriod milliseconds, seconds, minutes or hours-->
<configuration scan="true" scanPeriod="1000000 seconds">

    <include file="src/main/resources/includedConfig.xml"/>

    <property name="USER_HOME" value="c:/home/adarsh" />

    <appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${USER_HOME}/logFile.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--level TRACE, DEBUG, INFO, WARN, ERROR, ALL or OFF.-->
    <logger name="com.adarsh.services" level="ALL"/>

    <logger name="com.adarsh.manager" level="INFO"/>


    <root level="trace">
        <appender-ref ref="includedConsole"/>
    </root>

    <root level="trace">
        <appender-ref ref="rollingFileAppender"/>
    </root>

</configuration>